table {
    border: 3px solid #04eeb8;
  }
  th {
    border: 3px solid #ee0404;
  }
  /* đối với cách đặt tên class thì trong css -> chấm */

  .thead-2 {
    border: 3px solid #f704ff;
  }
  /* đối với cách đặt tên id thì trong css -> # */
  #thead-3 {
    border: 3px solid #001aff;
  }
  td {
    border: 1px solid #000000;
  }
