*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(191, 191, 235);
  font-family: "Roboto", sans-serif;
  position: relative;
}

.card-product{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 200px;
background-color: white;
border-radius: 5px;
box-shadow: 1px 1px 3px 0px #969696;
}
.card-product-main{
    padding: 8px;
}
.card-product-header-image img {
    border-radius: 8px;
    object-fit: cover;
}

.card-product-body h3 {
    font-size: 12px;
}
.card-product-body-content{
  display: flex;
  justify-content: space-between;
}
.card-product-body-content .right{

  display: flex;
}
.price{
  display: flex;
  gap: 5px;
  align-items: end;
}
.price-new{
font-size: 16px;
font-weight: 600;
}
.price-old{
  font-size: 12px;
  color: #969696;
}

.icon-reviews i {
color: rgb(255, 255, 29);
font-size: 10px;
}
.rate-total{
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 132);
  border-radius: 2px;
  padding: 2px 4px;
}
.card-product-body{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card-product-main{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addToCart{
  border-radius: 4px;
  background: rgb(128, 94, 250);
  width: 100%;
  padding: 6px 0;
  gap: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: all .2s linear;
}
.addToCart:hover{

  background: rgb(128, 94, 250,0.5);
  transition: all .2s linear;

}
.addToCart span,i{
  font-size: 10px;
  color: aliceblue;
}
.addToCart span{
  font-weight: 500;
}

.card-product {
  overflow: hidden; 
}
.card-product-header-image {
  overflow: hidden; 
  border-radius: 8px;
}
.card-product-header-image img{
  transition: all .3s ease;
}
.card-product:hover  .card-product-header-image img{
  transform: scale(1.1);
}
.saleOff span{
  font-size: 8px;
  color: aliceblue;
  font-weight: 500;
}
.card-product-header{
  position: relative;
  
}
.saleOff{
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 3px;
  background: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
}







/* .flex{
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-evenly;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap
  

}

.block{
  background:blue;
  height: 50px;
  width: 200px;
}
.inline{
  background: red;
  height: 50px;
  width: 200px;


}
.inline-block{
  height: 50px;
  width: 200px;


  background: green;
} */

