*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(191, 191, 235);
}

.card-product{
    width: 200px;
background-color: white;
border-radius: 5px;
box-shadow: 1px 1px 3px 0px #969696;
}
.card-product-main{
    padding: 8px;
}
.card-product-header-image img {
    border-radius: 8px;
    object-fit: cover;
}
.card-product-body{
    margin-top: 10px;
}
.card-product-body h3 {
    font-size: 12px;
}






